{

;; CONFIG ENTRIES:

#_lambdacd-pipeline.core/mongodb-host #_"mongodb://localhost:27017/lambdacd"

#_lambdacd-pipeline.core/mongodb-password #_"secret"

#_lambdacd-pipeline.core/mongodb-user #_"user"

#_lambdacd-pipeline.steps/admin-recipients #_"admin-email-address"

#_lambdacd-pipeline.steps/api-key #_"your-api-key"

#_lambdacd-pipeline.steps/api-url #_"https://your-api-url"

#_lambdacd-pipeline.steps/cdn-url #_"rsync://yourpersonalexample.net:/module"

#_lambdacd-pipeline.steps/scripts-path #_"/opt/pipeline"

#_lambdacd-pipeline.steps/sender-address #_"sender@example.org"

}
