[Unit]
Description=LambdaCD Pipeline

[Service]
ExecStart=/usr/bin/java -jar /opt/pipeline/pipeline-1-standalone.jar
StandardOutput=journal
User=collins
WorkingDirectory=/opt/pipeline

[Install]
WantedBy=multi-user.target
Alias=lambdacd.service